<header>
  <div class="container">
    <a routerLink="/" class="logo">DEMO</a>
  </div>
</header>

<div class="container">
  <h1>Welcome!</h1>

  <div class="play-container">
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <p>
        <label for="username">Username: </label>
        <input id="username" formControlName="username" type="text">
      </p>
      <p>
        <label for="password">Password: </label>
        <input id="password" formControlName="password" type="text">
      </p>
      <button type="submit" class="submitButton">Log in</button>
    </form>
  </div>
</div>

