<!--<nb-layout>-->
<!--  <nb-layout-header>-->
<!--    <app-header></app-header>-->
<!--  </nb-layout-header>-->

<!--  <nb-layout-column>-->
<!--    <app-nav></app-nav>-->
<!--  </nb-layout-column>-->

<!--  <nb-layout-column>-->
<!--    <ng-content select="router-outlet"></ng-content>-->
<!--  </nb-layout-column>-->
<!--</nb-layout>-->

<nb-layout>

  <nb-layout-column>
    <div class="app app-header-fixed ">

      <!-- header -->
      <app-header></app-header>
      <!-- / header -->

      <!-- aside -->
      <app-nav></app-nav>
      <!-- / aside -->

      <!-- content -->
      <div id="content" class="app-content" role="main">
        <div class="app-content-body ">

          <ng-content select="router-outlet"></ng-content>

        </div>
      </div>
      <!-- /content -->

      <!-- footer -->
      <!-- / footer -->

    </div>
  </nb-layout-column>

</nb-layout>

<!--<app-header></app-header>-->
<!--<app-nav></app-nav>-->
<!--<ng-content select="router-outlet"></ng-content>-->
