@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  font-size: 18px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background: #173f5f;
  padding: 1em 0;
}
header a {
  color: white;
  text-decoration: none;
}
header a.logo {
  font-weight: bold;
}
header nav {
  float: right;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
header nav ul li a {
  padding: 1em;
}
header nav ul li a:hover {
  background: #20639b;
}
h1 {
  margin-top: 2em;
}

button {
  background: #173f5f;
  font-weight: normal;
  cursor: pointer;
  color: white;
  padding: 0.8em 2.5em;
  margin: 0 auto;
  border: none;
}

span {
  font-weight: normal;
  background: #3caea3;
  padding: 0.5em 1em;
  cursor: pointer;
}
.play-container {
  padding: 2em;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}
.play-container input {
  padding: 1em 5em;
  margin-bottom: 0;
}

.submitButton {
  background: #3caea3;
  color: black;
}

/*nb-layout{*/
/*  width:100%;*/
/*  height:100%;*/
/*}*/
/*nb-layout-column:first-child {*/
/*  flex: 1 !important;*/
/*  background: #e3e6f9;*/
/*}*/
/*nb-layout-column:last-child {*/
/*  flex: 4     !important;*/
/*  background: #f4f4f7;*/
/*}*/

.head {
  margin: 0;
  margin-left: 10px;
  color: #173f5f;
}

.app-header-fixed {
  padding-top: 50px;
}

.app-header-fixed .app-header {
  position: fixed;
  top: 0;
  width: 100%;
}
.app {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.app:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: inherit;
  background-color: #f0f3f4;
  border: inherit;
  content: "";
}

