@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  font-size: 18px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background: #173f5f;
  padding: 1em 0;
}
header a {
  color: white;
  text-decoration: none;
}cd project
header a.logo {
  font-weight: bold;
}
header nav {
  float: right;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
header nav ul li a {
  padding: 1em;
}
header nav ul li a:hover {
  background: #20639b;
}
h1 {
  margin-top: 2em;
}

butt {
  font-weight: normal;
  padding: 0.5em 1em;
  cursor: pointer;
  color: white;
}

span {
  font-weight: normal;
  background: #3caea3;
  padding: 0.5em 1em;
  cursor: pointer;
}
.play-container {
  padding: 2em;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}
.play-container input {
  padding: 1em 5em;
  margin-bottom: 0em;
}

.submitButton {
  font-weight: normal;
  background: #3caea3;
  padding: 0.8em 2em;
  cursor: pointer;
  margin: 0 auto;
}
